.header{
    grid-area: h;
    background-color: rgba(102, 205, 170, 1);
    border-bottom-right-radius: 5px ;
    display: flex;
    flex-direction: row;
}
.header img{
    margin-left: 15px;
}
.header h1{
    color: white;
    font-family: BATAVIA;
    padding-left: 10px;
}


.loginBlock{
    order: 999;
    margin-left: auto;
    margin-right: 20px;

}
.loginBlock a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Constantia;
}