.formControl.error input,
.formControl.error textarea
{
    border: 1px solid red;
}

.formControl.error span
{
    color: red;
}
.formSummaryError{
    border: red 1px solid;
    color: red;
    padding: 5px;
}