.app-wrapper {
    display: grid;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 1200px;
    margin: 0 auto;

}

.app-wrapper-content {
    grid-area: c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid mediumaquamarine;
    background-color: rgba(169, 169, 169, 0.1) ;
}
