.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 15px
}
.dialogsItems .dialog:active{
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}
.dialog a{
    text-decoration: none;
    color: darkslategray;
    /*font-size: 20px;*/
}

.messages .message {
    padding: 15px
}
.sendMessage{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.messages textarea{
    align-items: flex-end;
    width: 700px;

}


